<!DOCTYPE html>
<html>
  <head>
    <title>Retail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/retail/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles_retail.css" type="text/css" rel="stylesheet"/>

  <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/retailown.js"></script>

    
  </head>
  <body>
    <div id="base" class="">

      <!-- +DLogin (Dynamic Panel) -->
      <div id="u26" class="ax_default" data-label="+DLogin">
        <div id="u26_state0" class="panel_state" data-label="Retail" style="">
          <div id="u26_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u27" class="ax_default heading_1">
              <div id="u27_div" class=""></div>
              <div id="u27_text" class="text ">
                <p><span>Welcome to TCS Video Analytics Solutions in Azure </span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u28" class="ax_default image">
              <img id="u28_img" class="img " src="/img/u3.png"/>
              <div id="u28_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u29" class="ax_default">
              <img id="u29_menu" class="img " src="/img/u29_menu.png" alt="u29_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u30" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u31" class="ax_default menu_item">
                  <img id="u31_img" class="img " src="/img/u31.png"/>
                  <div id="u31_text" class="text ">
                    <p><span>&nbsp;Retail</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u32" class="ax_default list_box">
                  <img id="u32_img" class="img " src="/img/u32.png"/>
                  <div id="u32_text" class="text ">
                    <p><span>&nbsp;Manufacturing</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u33" class="ax_default menu_item">
                  <img id="u33_img" class="img " src="/img/u33.png"/>
                  <div id="u33_text" class="text ">
                    <p><span>&nbsp;Medical</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u34" class="ax_default">
              <img id="u34_menu" class="img " src="/img/u29_menu.png" alt="u34_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u35" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u36" class="ax_default menu_item">
                  <img id="u36_img" class="img " src="/img/u32.png"/>
                  <div id="u36_text" class="text ">
                    <p><span>&nbsp;Automotive</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u37" class="ax_default menu_item">
                  <img id="u37_img" class="img " src="/img/u37.png"/>
                  <div id="u37_text" class="text ">
                    <p><span>&nbsp;IOT</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u38" class="ax_default menu_item">
                  <img id="u38_img" class="img " src="/img/u38.png"/>
                  <div id="u38_text" class="text ">
                    <p><span>&nbsp;Others</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u39" class="ax_default heading_2">
              <div id="u39_div" class=""></div>
              <div id="u39_text" class="text ">
                <p><span>TCS </span></p><p><span>ITVK Solutions</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u40" class="ax_default heading_2">
              <div id="u40_div" class=""></div>
              <div id="u40_text" class="text ">
                <p><span>Azure</span></p><p><span>Services</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u41" class="ax_default flow_shape">
              <div id="u41_div" class=""></div>
              <div id="u41_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u42" class="ax_default flow_shape">
              <div id="u42_div" class=""></div>
              <div id="u42_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u43" class="ax_default primary_button" id="Peopledetect">
              <div id="u43_div" class=""></div>
              <div id="u43_text" class="text ">
                <p ><span>People Detection </span></p><p><span>and Tracking</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u44" class="ax_default primary_button">
              <div id="u44_div" class=""></div>
              <div id="u44_text" class="text ">
                <p><span>Sco Theft </span></p><p><span>Detection</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u45" class="ax_default primary_button">
              <div id="u45_div" class=""></div>
              <div id="u45_text" class="text ">
                <p><span>Heat Map / </span></p><p><span>Dwell Time</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u46" class="ax_default primary_button">
              <div id="u46_div" class=""></div>
              <div id="u46_text" class="text ">
                <p><span>Queue </span></p><p><span>Management</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u47" class="ax_default primary_button">
              <div id="u47_div" class=""></div>
              <div id="u47_text" class="text ">
                <p><span>Ticket Switch Detection</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u48" class="ax_default primary_button">
              <div id="u48_div" class=""></div>
              <div id="u48_text" class="text ">
                <p><span>Loyalty Customer Identification</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u49" class="ax_default primary_button">
              <div id="u49_div" class=""></div>
              <div id="u49_text" class="text ">
                <p><span>abc</span></p><p><span>Compliance</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u50" class="ax_default primary_button">
              <div id="u50_div" class=""></div>
              <div id="u50_text" class="text ">
                <p><span>People Detection </span></p><p><span>and Tracking</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u51" class="ax_default primary_button">
              <div id="u51_div" class=""></div>
              <div id="u51_text" class="text ">
                <p><span>Region of Interest</span></p><p><span>Detection</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u52" class="ax_default primary_button">
              <div id="u52_div" class=""></div>
              <div id="u52_text" class="text ">
                <p><span>Social Distancing</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u53" class="ax_default primary_button">
              <div id="u53_div" class=""></div>
              <div id="u53_text" class="text ">
                <p><span>Sco Theft Detection</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u54" class="ax_default primary_button">
              <div id="u54_div" class=""></div>
              <div id="u54_text" class="text ">
                <p><span>Human Action</span></p><p><span>Detection</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u55" class="ax_default icon">
              <img id="u55_img" class="img " src="/img/u55.svg"/>
              <div id="u55_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    
 
  </body>
</html>
