<!DOCTYPE html>
<html>
  <head>
    <title>Retail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/retail/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles_retail.css" type="text/css" rel="stylesheet"/>
  <script src="/js/jquery-3.2.1.min.js"></script>

  
    <script src="/js/retailown.js"></script>

    
  </head>
  <body>
    <div id="base" class="">

      <div id="u26_state1" class="panel_state" data-label="Sco page" style=" ">
          <div id="u26_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u56" class="ax_default heading_1">
              <div id="u56_div" class=""></div>
              <div id="u56_text" class="text ">
                <p><span>Welcome to TCS Video Analytics Solutions in Azure </span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u57" class="ax_default image">
              <img id="u57_img" class="img " src="/img/u3.png"/>
              <div id="u57_text" class="text " style=" ">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u58" class="ax_default">
              <img id="u58_menu" class="img " src="/img/u29_menu.png" alt="u58_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u59" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u60" class="ax_default menu_item">
                  <img id="u60_img" class="img " src="/img/u31.png"/>
                  <div id="u60_text" class="text ">
                    <p><span>&nbsp;Retail</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u61" class="ax_default list_box">
                  <img id="u61_img" class="img " src="/img/u32.png"/>
                  <div id="u61_text" class="text ">
                    <p><span>&nbsp;Manufacturing</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u62" class="ax_default menu_item">
                  <img id="u62_img" class="img " src="/img/u33.png"/>
                  <div id="u62_text" class="text ">
                    <p><span>&nbsp;Medical</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u63" class="ax_default">
              <img id="u63_menu" class="img " src="/img/u29_menu.png" alt="u63_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u64" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u65" class="ax_default menu_item">
                  <img id="u65_img" class="img " src="/img/u32.png"/>
                  <div id="u65_text" class="text ">
                    <p><span>&nbsp;Automotive</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u66" class="ax_default menu_item">
                  <img id="u66_img" class="img " src="/img/u37.png"/>
                  <div id="u66_text" class="text ">
                    <p><span>&nbsp;IOT</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u67" class="ax_default menu_item">
                  <img id="u67_img" class="img " src="/img/u38.png"/>
                  <div id="u67_text" class="text ">
                    <p><span>&nbsp;Others</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sco theft detection (Dynamic Panel) -->
            <div id="u68" class="ax_default" data-label="Sco theft detection" >
              
             
              <div id="u68_state2" class="panel_state" data-label="Azure" style="">
                <div id="u68_state2_content" class="panel_state_content">

                  <!-- Unnamed (Shape) -->
                  <div id="u105" class="ax_default heading_2">
                    <img id="u105_img" class="img " src="/img/u105.svg"/>
                    <div id="u105_text" class="text ">
                      <p><span>TCS ITVK Solutions</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u106" class="ax_default heading_2">
                    <img id="u106_img" class="img " src="/img/u70.svg"/>
                    <div id="u106_text" class="text ">
                      <p><span>Azure</span></p><p><span>Services</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u107" class="ax_default flow_shape">
                    <div id="u107_div" class=""></div>
                    <div id="u107_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u108" class="ax_default icon">
                    <img id="u108_img" class="img " src="/img/u78.svg"/>
                    <div id="u108_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u109" class="ax_default primary_button">
                    <div id="u109_div" class=""></div>
                    <div id="u109_text" class="text ">
                      <p><span>Sco Theft Detection</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u110" class="ax_default image">
                    <img id="u110_img" class="img " src="/img/u75.png"/>
                    <div id="u110_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u111" class="ax_default primary_button">
                    <img id="u111_img" class="img " src="/img/u111.svg"/>
                    <div id="u111_text" class="text ">
                      <p><span>Live Feed</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u112" class="ax_default primary_button">
                    <img id="u112_img" class="img " src="/img/u112.svg"/>
                    <div id="u112_text" class="text ">
                      <p><span>Browse Video</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u113" class="ax_default image">
                    <img id="u113_img" class="img " src="/img/u113.svg"/>
                    <div id="u113_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u114" class="ax_default icon">
                    <img id="u114_img" class="img " src="/img/u71.svg"/>
                    <div id="u114_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u68_state3" class="panel_state" data-label="Azure graph" style="display: none;">
                <div id="u68_state3_content" class="panel_state_content">

                  <!-- Unnamed (Shape) -->
                  <div id="u115" class="ax_default heading_2">
                    <img id="u115_img" class="img " src="/img/u105.svg"/>
                    <div id="u115_text" class="text ">
                      <p><span>TCS ITVK Solutions</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u116" class="ax_default heading_2">
                    <img id="u116_img" class="img " src="/img/u70.svg"/>
                    <div id="u116_text" class="text ">
                      <p><span>Azure</span></p><p><span>Services</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u117" class="ax_default flow_shape">
                    <div id="u117_div" class=""></div>
                    <div id="u117_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u118" class="ax_default icon">
                    <img id="u118_img" class="img " src="/img/u78.svg"/>
                    <div id="u118_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u119" class="ax_default primary_button">
                    <div id="u119_div" class=""></div>
                    <div id="u119_text" class="text ">
                      <p><span>Sco Theft Detection</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u120" class="ax_default image">
                    <img id="u120_img" class="img " src="/img/u93.png"/>
                    <div id="u120_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u121" class="ax_default primary_button">
                    <img id="u121_img" class="img " src="/img/u111.svg"/>
                    <div id="u121_text" class="text ">
                      <p><span>Live Feed</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u122" class="ax_default primary_button">
                    <img id="u122_img" class="img " src="/img/u112.svg"/>
                    <div id="u122_text" class="text ">
                      <p><span>Browse Video</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u123" class="ax_default image">
                    <img id="u123_img" class="img " src="/img/u113.svg"/>
                    <div id="u123_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u124" class="ax_default icon">
                    <img id="u124_img" class="img " src="/img/u71.svg"/>
                    <div id="u124_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    
 
  </body>
</html>
