<!DOCTYPE html>
<html>
  <head>
    <title>Retail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/retail/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/css/retail/styles_retail.css" type="text/css" rel="stylesheet"/>

  <script src="/js/jquery-3.2.1.min.js"></script>
  
    <script src="/js/retailown.js"></script>

    
  </head>
  <body>
    <div id="base" class="">
      <div id="u26_state2" class="panel_state" data-label="Ticket switch Detection">
          <div id="u26_state2_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u145" class="ax_default heading_1">
              <div id="u145_div" class=""></div>
              <div id="u145_text" class="text ">
                <p><span>Welcome to TCS Video Analytics Solutions in Azure </span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u146" class="ax_default image">
              <img id="u146_img" class="img " src="/img/u3.png"/>
              <div id="u146_text" class="text " style=" ">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u147" class="ax_default">
              <img id="u147_menu" class="img " src="/img/u29_menu.png" alt="u147_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u148" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u149" class="ax_default menu_item">
                  <img id="u149_img" class="img " src="/img/u31.png"/>
                  <div id="u149_text" class="text ">
                    <p><span>&nbsp;Retail</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u150" class="ax_default list_box">
                  <img id="u150_img" class="img " src="/img/u32.png"/>
                  <div id="u150_text" class="text ">
                    <p><span>&nbsp;Manufacturing</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u151" class="ax_default menu_item">
                  <img id="u151_img" class="img " src="/img/u33.png"/>
                  <div id="u151_text" class="text ">
                    <p><span>&nbsp;Medical</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u152" class="ax_default">
              <img id="u152_menu" class="img " src="/img/u29_menu.png" alt="u152_menu"/>

              <!-- Unnamed (Table) -->
              <div id="u153" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u154" class="ax_default menu_item">
                  <img id="u154_img" class="img " src="/img/u32.png"/>
                  <div id="u154_text" class="text ">
                    <p><span>&nbsp;Automotive</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u155" class="ax_default menu_item">
                  <img id="u155_img" class="img " src="/img/u37.png"/>
                  <div id="u155_text" class="text ">
                    <p><span>&nbsp;IOT</span></p>
                  </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u156" class="ax_default menu_item">
                  <img id="u156_img" class="img " src="/img/u38.png"/>
                  <div id="u156_text" class="text ">
                    <p><span>&nbsp;Others</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Ticket dynamic pannel (Dynamic Panel) -->
            <div id="u157" class="ax_default" data-label="Ticket dynamic pannel">
              <div id="u157_state0" class="panel_state" data-label="default" style="">
                <div id="u157_state0_content" class="panel_state_content">

                  <!-- Unnamed (Shape) -->
                  <div id="u158" class="ax_default heading_2">
                    <img id="u158_img" class="img " src="/img/u125.svg"/>
                    <div id="u158_text" class="text ">
                      <p><span>TCS ITVK Solutions</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u159" class="ax_default heading_2">
                    <img id="u159_img" class="img " src="/img/u159.svg"/>
                    <div id="u159_text" class="text ">
                      <p><span>Azure</span></p><p><span>Services</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u160" class="ax_default flow_shape">
                    <div id="u160_div" class=""></div>
                    <div id="u160_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u161" class="ax_default icon">
                    <img id="u161_img" class="img " src="/img/u78.svg"/>
                    <div id="u161_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u162" class="ax_default primary_button">
                    <div id="u162_div" class=""></div>
                    <div id="u162_text" class="text ">
                      <p><span>Ticket Switch Detection</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u163" class="ax_default image">
                    <img id="u163_img" class="img " src="/img/u163.png"/>
                    <div id="u163_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u164" class="ax_default primary_button">
                    <img id="u164_img" class="img " src="/img/u111.svg"/>
                    <div id="u164_text" class="text ">
                      <p><span>Live Feed</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u165" class="ax_default primary_button">
                    <img id="u165_img" class="img " src="/img/u112.svg"/>
                    <div id="u165_text" class="text ">
                      <p><span>Browse Video</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u166" class="ax_default image">
                    <img id="u166_img" class="img " src="/img/u113.svg"/>
                    <div id="u166_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u167" class="ax_default icon">
                    <img id="u167_img" class="img " src="/img/u71.svg"/>
                    <div id="u167_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u157_state1" class="panel_state" data-label="ticket graph" style=" ;">
                <div id="u157_state1_content" class="panel_state_content">

                  <!-- Unnamed (Shape) -->
                  <div id="u168" class="ax_default heading_2">
                    <img id="u168_img" class="img " src="/img/u125.svg"/>
                    <div id="u168_text" class="text ">
                      <p><span>TCS ITVK Solutions</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u169" class="ax_default heading_2">
                    <img id="u169_img" class="img " src="/img/u159.svg"/>
                    <div id="u169_text" class="text ">
                      <p><span>Azure</span></p><p><span>Services</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u170" class="ax_default flow_shape">
                    <div id="u170_div" class=""></div>
                    <div id="u170_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u171" class="ax_default icon">
                    <img id="u171_img" class="img " src="/img/u78.svg"/>
                    <div id="u171_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u172" class="ax_default primary_button">
                    <div id="u172_div" class=""></div>
                    <div id="u172_text" class="text ">
                      <p><span>Ticket Switch Detection</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u173" class="ax_default primary_button">
                    <img id="u173_img" class="img " src="/img/u111.svg"/>
                    <div id="u173_text" class="text ">
                      <p><span>Live Feed</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u174" class="ax_default primary_button">
                    <img id="u174_img" class="img " src="/img/u112.svg"/>
                    <div id="u174_text" class="text ">
                      <p><span>Browse Video</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u175" class="ax_default image">
                    <img id="u175_img" class="img " src="/img/u113.svg"/>
                    <div id="u175_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Shape) -->
                  <div id="u176" class="ax_default icon">
                    <img id="u176_img" class="img " src="/img/u71.svg"/>
                    <div id="u176_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Image) -->
                  <div id="u177" class="ax_default image">
                    <img id="u177_img" class="img " src="/img/u177.png"/>
                    <div id="u177_text" class="text " style=" ">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

    </div>
    
 
  </body>
</html>
